* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background-image: url(/Stargeek/img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.lg {
width: 150px;
margin-top:0 auto ;
padding: 7px 9px 11px 13px;
display: flex;
}

:root{
    --preto: rgb(35,35,35);
    --branco: white;
    --primaria: #B100D2;
    --SECUNDARIA: #16009D;
    TERCIARIA: #7A008D
}

h2 {
    text-align: center;
    color: white;
    margin-top: 50px ;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px ;
}

.email{
    padding: 20px;
    width: 300;
    background-color:  silver;
    border-radius: 5px;
    margin-bottom: 30px ;
    color:white ;
    border: none;
}
 
.senha{
    padding: 20px;
    width: 300px;
    background-color: rgba(119, 119, 0.516);
    border-radius:5px;
    color: white;
    border:none;   
}
.fps{
    padding: 10px;
    width: 300px;
    color: grey;
    margin: bottom: 30px;
}
.botao-vazado{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    background-color: #000;
    border-radius: 5px;
  }
  .botao-vazado:hover{
    background-color: white;
    color: #000;
  }
  .button{
    text-decoration: none;
    padding: 16px 30px;
    background-color: hsl(0, 0%, 45%);
    color: #fff;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }