*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    background-image: url(/Stargeek/img/Group\ 7grup.8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-color: black;
}   
.logo{
    margin: 0 auto;
    text-align: center;
    background-color: black;
}